﻿<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>smartnotify</title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <!-- your app's js -->
      <script src="js/app.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

  </head>
<body ng-app="smartnotify" ng-controller="NotifiCtrl">

    <ion-side-menus>
        <!-- Center content -->
        <ion-side-menu-content edge-drag-threshold="true" drag-content="true">
            
            <ion-header-bar class="bar-dark">
                <button class="button button-icon" ng-click="toggleLeftSideMenu()">
                    <i class="icon ion-navicon"></i>
                </button>
                <h1 class="title">SmartNotify</h1>
                <!-- New Task button-->
                <button class="button button-icon" ng-click="newTask()">
                    <i class="icon ion-compose"></i>
                </button>
            </ion-header-bar>
            <ion-content>
            	<label class="item-input">
            		<i class="icon ion-search placeholder-icon"></i>
            		<input type="search" placeholder="search" ng-model="searchQuery" />
            	</label>
            	<h3>
                    Sort by:
                </h3>
            	<button class="button button-royal" ng-click="sortType = 'name'">
				  Sender
				</button>
		        <button class="button button-royal" ng-click="sortType = 'date'">
				  Date
				</button>
				<button class="button button-royal" ng-click="sortType = 'title'">
				  Subject
				</button>


                <button ng-click="fetchMessage()">
                add messages from api  
                </button>
                <!-- our list and list items -->
                <!--try this to make options for menu elements http://ionicframework.com/docs/api/directive/ionList/ -->
                <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
                    <ion-item ng-repeat="task in tasks | filter:searchQuery | orderBy:sortType:sortReverse"" class="item-button-right">

                            <h3>
                                From: {{task.name}}
                            </h3>
                            <h3>
                                Subject: {{task.title}}
                            </h3>
                            <h4>
                                {{task.message | limitTo: 50}}
                                {{ task.message.length > 50 ? '&hellip;' : '' }}
                            </h4>
                            <h5>
                                date: {{task.date}}
                            </h5>
                            <button class="button button-assertive" ng-click="onItemDelete(task)">
                            	<i class="icon ion-close-round"></i>
                            </button>
                            <button ng-click="openMessage(task)">
                            	<a>Read more</a>
                            </button>

                    </ion-item>
                   
                </ion-list>
                <div style="padding-bottom: 20px;">
                <h2>Api data(press button on top first):</h2>
                <p>{{myWelcome}}</p>
                </div>
                
            </ion-content>
        </ion-side-menu-content>
        <!-- Left menu -->
        <div ng-include="'leftsidebar.html'"></div>


    </ion-side-menus>
<!-- Create message -->
<script id="new-task.html" type="text/ng-template">

        <div class="modal">

            <!-- Modal header bar -->
            <ion-header-bar class="bar-secondary">
                <h1 class="title">New Message</h1>
                <button class="button button-clear button-positive" ng-click="closeNewTask()">Cancel</button>
            </ion-header-bar>

            <!-- Modal content area -->
            <ion-content>

                <form ng-submit="createTask(task)">
                    <div class="list">
                        <label class="item item-input">
                            <input type="text" placeholder="Title" ng-model="task.title">
                        </label>
                        <label class="item item-input">
                            <input type="text" placeholder="What do you have on your mind?" ng-model="task.msg">
                        </label>
                    </div>
                    <div class="padding">
                        <button type="submit" class="button button-block button-positive">Create Message</button>
                    </div>
                </form>

            </ion-content>

        </div>

    </script>


</body>
</html>
