<ion-side-menu side="left">
    <ion-header-bar class="bar-dark">
    </ion-header-bar>
    <ion-content>
    <div class="list">
        <ion-list>
            <ion-item ng-repeat="profile in profiles" class="item-light item-avatar item-complex" >
                <div class="item-content">
                    <img ng-src="{{profile.img}}" />
                    <h2>{{profile.name}}</h2>
                </div>
                <a class="item" href="#">
				    Contacts
				</a>
				<a class="item" href="#">
				    Manage groups
				</a>
				<a class="item" href="#">
				    Create groups
				</a>
				<a class="item" href="#">
				    Settings
				</a>
				<a class="item" href="#">
				    Signout
				</a>
            </ion-item>
    </ion-content>
	</div>
</ion-side-menu>